@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="#" class="p-3" >Costs: @model.SumExpenditure</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{ 

    CategoryDto model = new CategoryDto();
    IEnumerable<CategoryDto> sumExpenditure = new List<CategoryDto>();

    protected override async Task OnInitializedAsync()
    {
        sumExpenditure = CategoryAdapter.GetCategorySum();

        model.SumExpenditure = sumExpenditure.Select(z => z.BalansExpenditure).FirstOrDefault();
    }

}