@page "/fetchdata"
@using web.Data.Adapters;
@inject IJSRuntime _jsRuntime;


 <div id="chartdiv"></div>
 <button class="btn btn-info" @onclick="GeneratePieChartBlazor">Ok</button>

@code{
    CategoryDto model = new CategoryDto();
    List<SumPieDto> sumList = new List<SumPieDto>();
    IEnumerable<CategoryDto> categoryList = new List<CategoryDto>();

    private async Task GeneratePieChartBlazor()
    {

        categoryList = CategoryAdapter.GetCategorySum();

        var resSum = categoryList.Select(z => z.SumReceipt).FirstOrDefault();
        var exSum = categoryList.Select(z => z.SumExpenditure).FirstOrDefault();

        sumList.Add(new SumPieDto() { NameCategory = "Receipts", SumReceipt = resSum });
        sumList.Add(new SumPieDto() { NameCategory = "Expenditure", SumReceipt = exSum });





        await _jsRuntime.InvokeVoidAsync("GeneraPieChart", sumList);
    }
}