@page "/fetchdata"
@using web.Data.Adapters;
@inject IJSRuntime _jsRuntime;


 <div id="chartdiv"></div>
 <button class="btn btn-info" @onclick="GeneratePieChartBlazor">Ok</button>

@code{
    CategoryDto model = new CategoryDto();
    List<SumPieDto> sumList = new List<SumPieDto>();
    IEnumerable<CategoryDto> categoryList = new List<CategoryDto>();

    private async Task GeneratePieChartBlazor()
    {

        categoryList = CategoryAdapter.GetCategorySum();

        sumList.Add(new SumPieDto() { NameCategory = "Work1", SumReceipt = 1400});
        sumList.Add(new SumPieDto() { NameCategory = "Work2", SumReceipt = 2200 });
        sumList.Add(new SumPieDto() { NameCategory = "Work3", SumReceipt = 1000 });
        sumList.Add(new SumPieDto() { NameCategory = "Work4", SumReceipt = 500 });




        await _jsRuntime.InvokeVoidAsync("GeneraPieChart", sumList);
    }
}